body {
    background-color: rgb(57, 169, 219);
    font-family: Rubik, Arial;
}

body {
    display: block;
    margin: 8px;
}


form hr {
    width: 15%;
}

form {
    text-align: center;
    line-height: 30px;
    height: 80%;
    overflow: auto;
}

section {
    display: block;
}

html {
    display: block;
}


#overlay {
    width: 80%;
    margin: 3% auto;
    height: 95vh;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 40px;
}

section {
    display: block;
}

hr {
    display: block;
    unicode-bidi: isolate;
    margin-block-start: 0.5em;
    margin-block-end: 0.5em;
    margin-inline-start: auto;
    margin-inline-end: auto;
    overflow: hidden;
    border-style: inset;
    border-width: 1px;
}

form {
    display: block;
    margin-top: 0em;
}
body {
    background-color: rgb(57, 169, 219);
    font-family: Rubik, Arial;
  }
  
  form {
    text-align: center;
    line-height: 30px;
    height: 80%;
    overflow: auto;
  }
  
  form hr {
    width: 15%;
  }
  
  h1 {
    text-align: center;
  }
  
  #burger {
    max-height: 30%;
  }
  
  #overlay {
    width: 80%;
    margin: 3% auto;
    height: 95vh;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 40px;
  }
  
  #logo {
    height: 100px;
    display: block;
    margin: auto;
  }
  
  
  .toppings label, .cheesy label {
    margin-right: 25px;
  }
  